extends ../pug/layout_default.pug

block variables

block meta
	title Главная страница

block content
	section#about.about
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-5.col-offset__lg-1
					.about__section.about__section_top
						.about__text
							h1.about__heading.about__heading_large Устаёте от кучи домашних заданий в школе?
							p.about__descr.about__descr_large А хотели бы отдохнуть после работы?
						img.about__img.about__img_scene-1(src='/img/img__about-scene-1.png' alt='')
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-6.col-offset__lg-5
					.about__section.about__section_center
						.about__text
							h2.about__heading.about__heading_medium А что если ваш ребёнок выучит все уроки без вашей помощи?
							p.about__descr.about__descr_medium У вас появится время на себя и приятное времяпровождения с семьёй!
						img.about__img.about__img_scene-2(src='/img/img__about-scene-2.png' alt='')
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12.grid__col_lg-6.col-offset__lg-1
					.about__section.about__section_bottom
						.about__text
							h2.about__heading.about__heading_green Сохраните гармонию
							p.about__descr.about__descr_small Ваш ребёнок не просто сделает уроки, а поймет как решать ту или иную задачу!
							p.about__info P. S. мы знаем что выполнение домашки — это стресс как для взрослого так и для ребёнка
						img.about__img.about__img_scene-3(src='/img/img__about-scene-3.png' alt='')
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					.about__form
						+form-block([
							{
								heading: 'Хотите так же?',
								descr: 'Скорее заполняй заявку на пробное бесплатное выполнение домашки!'
							}
						])
	section#advantages.advantages
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-10.col-offset__md-1.grid__col_lg-8.col-offset__lg-2
					h2.advantages__heading.section-heading Ребёнок полюбит домашку — вот почему:
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-9.grid__col_lg-8.col-offset__lg-1
					+advantages([
						{text: 'Приучаем к самостоятельности — очень важно, чтобы ребёнок не боялся трудностей и решения сложных задач'}
					])
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-9.col-offset__md-1.grid__col_lg-8.col-offset__lg-2
					+advantages([
						{text: 'Занятия в интерактивной форме — дети выполняют домашку в небольших группах от 3 до 5 человек с преподавателем on-line в дружеской обстановке'}
					])
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-9.col-offset__md-2.grid__col_lg-8.col-offset__lg-3
					+advantages([
						{text: 'Быстро поймет задачу — а быстро, потому что учитель всегда поможет и объяснит как решить'}
					])
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-9.col-offset__md-1.grid__col_lg-8.col-offset__lg-2
					+advantages([
						{text: 'Появятся новые друзья — наши группы формируются из детей из любых уголков России — это ли не здорово!'}
					])
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					.advantages__form
						+form-block([
							{
								heading: 'Звучит отлично, да?',
								descr: 'Не теряй времени и оставляй заявку на бесплатный урок.'
							}
						])
	section#structure.structure
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-9.col-offset__md-1.grid__col_lg-7.col-offset__lg-1
					h2.structure__heading.section-heading Как всё устроено?
					p.structure__descr Наша цель — чтобы ребёнок самостоятельно смог подключиться к уроку — поэтому мы упростили всё максимально!
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-5.col-offset__md-1.grid__col_lg-4.col-offset__lg-1
					+step([
						{
							number: '01',
							title: 'Шаг первый',
							descr: 'Оставьте ваш номер:',
							hasForm: true
						}
					], 'structure__step structure__step_1')
				.grid__col.grid__col_xs-12.grid__col_md-5.col-offset__md-1.grid__col_lg-6.col-offset__lg-1
					+step([
						{
							number: '02',
							title: 'Шаг второй',
							descr: 'Вам позвонит наш учитель и выяснит подробности',
							hasInfo: true,
							info: 'класс ребёнка, смена, как с успеваемостью, по каким учебникам занимаются в школе и т. д.'
						}
					], 'structure__step structure__step_2')
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-7.col-offset__md-2.grid__col_lg-6.col-offset__lg-2
					+step([
						{
							number: '03',
							title: 'Шаг третий',
							descr: 'Определяем группу и составляем расписание занятий'
						}
					], 'structure__step structure__step_3')
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-7.col-offset__md-4.grid__col_lg-6.col-offset__lg-4
					+step([
						{
							number: '04',
							title: 'Шаг четвёртый',
							descr: 'Ребёнок подключается в назначенное время к платформе и выполняет домашку под присмотром преподавателя'
						}
					], 'structure__step structure__step_4')
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-9.col-offset__md-3.grid__col_lg-9.col-offset__lg-3
					+step([
						{
							number: '05',
							title: 'Шаг пятый',
							descr: 'После выполнения домашнего задания: родителю в telegram приходит уведомление о том, что урок прошёл и домашка сделана, а также небольшой отчёт об успеваемости ребёнка',
							hasInfo: true,
							info: 'все ли прошло хорошо, весело, нужно ли подтянуть какую нибудь тему дополнительно и т. д.'
						}
					], 'structure__step structure__step_5')
		.structure__bg.structure__bg_left
		.structure__bg.structure__bg_right
	.structure-form
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					+form-block([
						{
							heading: 'Освободить себе 2 часа в сутки проще, чем вы думаете!',
							descr: 'Проверим?'
						}
					])
	section#characteristic.characteristic
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-10.col-offset__md-1.grid__col_lg-8.col-offset__lg-2
					h2.characteristic__heading.section-heading Наши ученики — это дети с 1-го по 9-е классы
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					+characteristic([
						{
							icon: 'globus',
							descr: 'Выполняем задания по всем предметам',
							info: '(от математики до истории)'
						},
						{
							icon: 'tv',
							descr: 'У нас крутые и опытные учителя со всей России, которым дети не боятся лишний раз задать вопрос',
							info: 'сами в шоке — и такое бывает ;)'
						},
						{
							icon: 'timer',
							descr: 'Среднее время выполнения домашки с нашими учителями — 1,5 часа — вместо 3-5 часов самостоятельного выполнения',
							info: ''
						},
						{
							icon: 'laptop',
							descr: 'Возможность индивидуальных дополнительных занятий — в случае если ребёнок не понял темы',
							info: ''
						},
						{
							icon: 'presentation',
							descr: 'Для занятий достаточно иметь любой гаджет',
							info: ''
						},
						{
							icon: 'books',
							descr: 'В отличие от готовых решений — мы помогаем понять задание',
							info: ''
						},
						{
							icon: 'woman',
							descr: 'Лояльные цены — дешевле чем репетитор на дому',
							info: ''
						}
					])
	section#price.price
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-10.col-offset__md-1.grid__col_lg-8.col-offset__lg-1
					h2.price__heading.section-heading Сколько стоит выполнить домашку с ребёнком?
					p.price__descr У нас прозрачная система оплаты — никаких подводных камней!
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					.price__action
						.price__card.card
							.card__content
								.card__row
									.card__free
										p.card__label Пробный урок
										p.card__text бесплатно
									a.card__button.button.button_white-accent(data-hystmodal="#tester") Хочу пробный урок
								.card__row
									.card__items
										.card__price
											p.card__label 1 день
											p.card__text 500 ₽
										.card__price
											p.card__label 10 дней
											p.card__text 4 500 ₽
										.card__price
											p.card__label 20 дней
											p.card__text 9 000 ₽
									a.card__button.button.button_green-card(data-hystmodal="#solution") Решите домашку с моим ребёнком
					.price__action
						.price__card-ghost.card-ghost
							svg.card-ghost__social-icon
								use(xlink:href='/img/svgSprite.svg#icon__socials_ig')
							.card-ghost__content
								h3.card-ghost__title Подписывайся на наш instagram
								p.card-ghost__descr у нас интересный и нужный контент для родителей
								a.card-ghost__button.button.button_white-accent(href='https://www.instagram.com/urokiru/' target='_blank') Подписаться
							.card-ghost__content
								h3.card-ghost__title Подарим 2 урока в подарок
								p.card-ghost__descr если сделаешь пост у себя в instagram и отметишь нас #[a(href='https://www.instagram.com/urokiru/') @urokiru] с хештегом #[a(href='https://www.instagram.com/explore/tags/urokiru/') #urokiru]
					.price__action
						+form-block([
							{
								heading: 'Есть сомнения или остались вопросы?',
								descr: 'Оставляй заявку и мы перезвоним вам в течение 5-ти минут!'
							}
						])
		