// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
	backdrop-filter: blur(32px);
	background: var(--color-grey-transparent);
	box-shadow: var(--inner-shadow-buttom);
	&__grid {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 12px 0;
		@media (min-width: $screen-sm) {
			display: grid;
			grid-gap: 24px;
			grid-template-areas:
			'logo buttons'
			'nav nav';
			padding: 24px 0 32px 0;
		}
		@media (min-width: $screen-md) {
			grid-gap: 16px;
			grid-template-areas:
			'logo buttons'
			'nav nav';
		}
	}
	&__logo {
		align-self: center;
		display: flex;
		grid-area: logo;
		height: 24px;
		width: 211px;
		@media (min-width: $screen-md) {
			height: 32px;
			width: 295px;
		}
		svg {
			height: 100%;
			width: 100%;
		}
	}
	&__nav {
		align-self: center;
		grid-area: nav;
		display: none;
		@media (min-width: $screen-sm) {
			display: block;
		}
	}
	&__buttons {
		align-self: center;
		grid-area: buttons;
		justify-self: end;
		display: none;
		@media (min-width: $screen-sm) {
			display: flex;
		}
	}
	&__button + &__button {
		margin-left: 16px;
		@media (min-width: $screen-md) {
			margin-left: 24px;
		}
	}
	&__menu {
		align-items: center;
		background: var(--color-green);
		border-radius: 32px;
		cursor: pointer;
		display: flex;
		flex-shrink: 0;
		height: 40px;
		justify-content: center;
		margin-left: 8px;
		padding: 4px;
		transition: background .25s ease;
		width: 40px;
		@media (min-width: $screen-sm) {
			display: none;
		}
		svg {
			fill: var(--color-white);
			height: 100%;
			width: 100%;
		}
	}
}
