*,
*::before,
*::after {
	box-sizing: border-box;
}

@at-root {
	@-ms-viewport {
		width: device-width;
	}
}

.selector-for-some-widget {
	box-sizing: content-box;
}

:root {
	font-size: var(--font-size-root);
}

html,
body {
	height: 100%;
}

html {
	font-family: sans-serif;
	line-height: 100%;
	margin-right: 0 !important;
	-webkit-tap-highlight-color: rgba(var(--color-black), 0);
	-webkit-text-size-adjust: 100%;
	top: auto !important;
}

body {
	color: var(--color-typography);
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-base);
	margin: 0;
	& .open-nav {
		overflow: hidden;
	}
	background: url("../img/bg__organic.svg") no-repeat left top 2400px, #f5f5f5;
	background-size: 400% auto;
	@media (min-width: $screen-sm) {
		background: url("../img/bg__organic.svg") no-repeat left top 2500px, #f5f5f5;
		background-size: 200% auto;
	}
	@media (min-width: $screen-md) {
		background: url("../img/bg__organic.svg") no-repeat left top 1350px, #f5f5f5;
		background-size: 165% auto;
	}
	@media (min-width: $screen-lg) {
		background: url("../img/bg__organic.svg") no-repeat center top 1600px, #f5f5f5;
		background-size: 100% auto;
	}
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

[tabindex='-1']:focus {
	outline: 0 !important;
}

[hidden] {
	display: none !important;
}
