
/*!*
 * ВНИМАНИЕ! Этот файл генерируется автоматически.
 */

@import "normalize.css/normalize.css";
@import "dev/scss/variables.scss";
@import "dev/scss/mixins.scss";
@import "dev/scss/reboot.scss";
@import "dev/scss/typography.scss";
@import "dev/scss/vendor.scss";
@import "dev/blocks/about/about.scss";
@import "dev/blocks/advantages/advantages.scss";
@import "dev/blocks/agreement/agreement.scss";
@import "dev/blocks/button/button.scss";
@import "dev/blocks/card/card.scss";
@import "dev/blocks/card-ghost/card-ghost.scss";
@import "dev/blocks/characteristic/characteristic.scss";
@import "dev/blocks/field/field.scss";
@import "dev/blocks/footer/footer.scss";
@import "dev/blocks/form/form.scss";
@import "dev/blocks/form-block/form-block.scss";
@import "dev/blocks/grid/grid.scss";
@import "dev/blocks/header/header.scss";
@import "dev/blocks/input/input.scss";
@import "dev/blocks/main-nav/main-nav.scss";
@import "dev/blocks/modal/modal.scss";
@import "dev/blocks/page/page.scss";
@import "dev/blocks/price/price.scss";
@import "dev/blocks/section-heading/section-heading.scss";
@import "dev/blocks/side-nav/side-nav.scss";
@import "dev/blocks/step/step.scss";
@import "dev/blocks/structure/structure.scss";
@import "dev/blocks/structure-form/structure-form.scss";

/*!*
 * ВНИМАНИЕ! Этот файл генерируется автоматически.
 */

