extends ../../../pug/layout_doc.pug

block meta
	title Политика обработки персональных данных

block favicon
	link(rel='icon', type='image/png', href='../../img/favicon/favicon-32x32.png', sizes='32x32')

block head
	link(rel='stylesheet', href='../../css/style.css')
	link(rel="preconnect", href="https://fonts.googleapis.com")
	link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Commissioner:wght@300;400;700&display=swap")

block content
	h1 Политика обработки персональных данных
	p Мы уважаем конфиденциальность ваших персональных данных и просим Вас ознакомиться с настоящей Политикой (далее — Политика). Это поможет Вам узнать, какую информацию и для каких целей мы обрабатываем в связи с использованием Вами сайта #[a(href='https://domashka.school') domashka.school] и любых его сервисов, а также как Вы можете изменять, удалять или иным образом влиять на обработку Ваших персональных данных.

	section
		h2 Кто обрабатывает персональные данные
		p Операторами по настоящей Политике выступают:
			br
			| Общество с ограниченной ответственностью «Эвотека»
		ul
			li ИНН 1658201149
			li Адрес: Россия, РТ, г. Казань, ул. Серова д. 10, кв. 109
			li Телефон: #[a(href='tel:89372841308') +7(937)284-13-08]
			li Уполномоченный адрес электронной почты: #[a(href='mailto:claim@domashka.school') claim@domashka.school]
			li Генеральный директор Исрафилов Камиль Халилевич
	section
		h2 Какие термины будем использовать
		dl
			dt Персональные данные
			dd любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).
			dt Персональные данные, разрешенные субъектом персональных данных для распространения
			dd персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для распространения
			dt Обработка персональных данных
			dd любое действие или совокупность действий, совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
			dt Распространение персональных данных
			dd действия, направленные на раскрытие персональных данных неопределенному кругу лиц.
			dt Предоставление персональных данных
			dd действия, направленные на раскрытие персональных данных определенному лицу или определяемому кругу лиц.
			dt Блокирование персональных данных
			dd временное прекращение обработки персональных данных (за исключением случаев, когда обработка необходима для уточнения персональных данных).
			dt Обезличивание персональных данных
			dd действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных;
			dt Уничтожение персональных данных
			dd действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.
			dt Онлайн-платформа (Сайт)
			dd программное обеспечение Оператора, представляющее собой набор взаимосвязанных веб-сервисов и модулей, составляющих единое пространство предоставления услуг потребителям в сети Интернет и расположенное по адресу #[a(href='https://domashka.school') domashka.school]
		p Понятия, не определенные в настоящем разделе, толкуются в соответствии с условиями Пользовательского соглашения и Условиями использования отдельных сервисов Сайта.

	section
		h2 Какие данные и для каких целей мы обрабатываем
		p Школьная Домашка оказывает платные образовательные и другие услуги в онлайн-формате в отношении следующих категорий субъектов:
		ul
			li Ученики;
			li Родители (законные представители);
			li Учителя.
		p Ниже мы расскажем, какие данные и для каких целей мы обрабатываем в отношении каждой обозначенной категории субъектов:
		dl
			dt Цель обработки персональных данных
			dd Объем обрабатываемых персональных данных
			dt Регистрация на Сайте
			dd
				ul
					li адрес электронной почты
					li номер телефона
					li все данные, которые указаны в аккаунтах следующих сервисов: ВКонтакте, Facebook, Mail.ru, Google, Яндекс, Одноклассники (если регистрация осуществляется путем авторизации через социальную сеть или другой электронный сервис)
			dt Идентификация на Сайте
			dd
				ul
					li фамилия и имя
					li адрес электронной почты
			dt Установление и поддержание связи между Вами и Оператором
			dd
				ul
					li фамилия и имя
					li номер телефона (если указан в разделе «Персональная информация»)
					li адрес электронной почты
					li данные аккаунтов в социальных сетях (если указаны в разделе «Персональная информация»)
				p Дополнительно для Учителя:
				ul
					li преподаваемые дисциплины (если указано в разделе «Персональная информация»)
					li являетесь ли Вы завучем или директором (если указано в разделе «Персональная информация»)
			dt Направление сообщений рекламного характера; таргетирование рекламных материалов
			dd
				ul
					li фамилия и имя
					li номер телефона
					li адрес электронной почты
					li дата рождения (при указании в разделе «Персональная информация»)
				p Дополнительно для Учителя:
				ul
					li преподаваемые дисциплины (если указано в разделе «Персональная информация»)
					li являетесь ли Вы завучем или директором (если указано в разделе «Персональная информация»)
			dt Отображение Вашего профиля исключительно для других зарегистрированных пользователей Сайта и его сервисов
			dd
				ul
					li фамилия и имя;
					li номер телефона;
					li адрес электронной почты;
					li класс;
					li город;
					li изображение (если предоставлено Вами Оператору любым доступным способом);
					li любая иная информация, указанная Вами на Сайте
			dt Улучшение качества обслуживания пользователей и модернизация Сайта
			dd файлы cookie
		p В отношении всех пользователей Сайта Школьная Домашка обрабатывает Файлы cookie. С условиями использования файлов сookie можно ознакомиться по адресу: #[a(href='https://domashka.school/cookie') domashka.school/cookie].

	section
		h2 Каким образом вы даете согласие на обработку персональных данных
		p Вы соглашаетесь с условиями Политики и даете Оператору согласие на обработку Ваших персональных данных, если Вы:
		ul
			li регистрируйтесь на Сайте, заполняя форму для регистрации на Сайте https://domashka.school/user/registration и нажимая кнопку «Далее». Согласие считается предоставленным в момент завершения регистрации на Сайте;
			li авторизуетесь на Сайте с использованием социальных сетей или иных электронных сервисов, доступных для аутентификации на Сайте. Согласие считается предоставленным в момент нажатия кнопки, отображающей выбранную для авторизации социальную сеть или электронный сервис и ввода аутентификационных данных сервиса;
			li вносите или изменяете информацию в разделе «Персональная информация» личного кабинета на Сайте. Вы сами определяете объем персональных данных, отображаемых в разделе «Персональная информация». Вы можете указать следующие сведения: фамилия и имя, изображение; домашний адрес; дата рождения; класс; образовательное учреждение; e-mail; номер телефона; логин skype.
				br
				| Если Вы являетесь Учителем, для Вас предусмотрена возможность указания перечня преподаваемых дисциплин, сведений о статусе завуча или директора.
				br
				| В случае, если Вы являетесь Учителем и обучаетесь в Школьной Домашке на программах переподготовки или повышения квалификации, Школьная Домашка должна получить от Вас скан-копии документа об образовании и паспорта. Получение от Вас указанных сведений является обязательным требованием законодательства об образовании. Без данной информации Школьная Домашка не сможет оказать Вам образовательные услуги. Указание Вами таких сведений в разделе «Персональная информация» существенно облегчит Школьной Домашке исполнения данной обязанности и позволит начать оказывать Вам образовательные услуги как можно скорее.
				br
				| Согласие на обработку внесенных или измененных персональных данных считается предоставленным в момент завершения их редактирования в подразделах «Персональная информация» и «Контакты» и в момент нажатия кнопки «Сохранить» в подразделах «Образовательное учреждение» и «Домашний адрес» раздела «Персональная информация». После заполнения любой из граф, указанных в разделе «Персональная информация», персональные данные обновляются автоматически;
			li заполняете формы обратной связи, в том числе заявки на обучение, заявки на использование других сервисов Сайта. Согласие на обработку персональных данных считается предоставленным в момент нажатия кнопки, подтверждающей отправку формы (кнопки могут называться «Отправить», «Оставить заявку» и иным аналогичным образом);
		p Соглашаясь с условиями Политики, Вы даете Оператору свое информированное и осознанное согласие на обработку Ваших персональных данных на условиях, предусмотренных Политикой и Федеральным законом от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее — Закон). При этом мы исходим из следующего:
		ul
			li Вы предоставили полностью достоверную информацию. Школьная Домашка не проверяет ее подлинность. Все риски предоставления недостоверной или недостаточной информации лежат на Вас
			li Вы имеете право давать соответствующее согласие. Если по какой-то причине у вас нет такого права, согласие на обработку персональных данных предоставляется Вашим законным представителем.
		p В некоторых обозначенных в Законе случаях Школьная Домашка имеет право обрабатывать Ваши персональные данные без Вашего согласия. Все такие ситуации перечислены в ст. 6 Закона, но к наиболее актуальным для деятельности Школьной Домашки можно отнести:
		ul
			li достижения целей, предусмотренных законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора обязанностей;
			li исполнение и заключения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных;
			li достижение общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
			li обработка в статистических или иных исследовательских целях, при условии обязательного обезличивания персональных данных.

	section
		h2 Персональные данные других людей, которые Вы предоставляете Школьной Домашке
		p Возможна ситуация, что Вы совершаете регистрацию на Сайте не для себя. Тогда Вы, скорее всего, предоставляете нам персональные данные другого человека и совершаете регистрацию от его имени.
		p В этом случае Вы несете полную ответственность за то, что лицо или лица, чьи персональные данные Вы предоставили, осведомлены об этом, понимают и согласны с тем, что Школьная Доашка обрабатывает их данные в соответствии с Политикой.

	section
		h2 Обработка персональных данных и безопасность
		p Правовым основанием обработки персональных данных являются:
		ul
			li федеральные законы и принятые на их основе нормативные правовые акты, регулирующие отношения, связанные с деятельностью Оператора;
			li локальные правовые акты Школьной домашки;
			li пользовательское соглашение сайта «Школьная Домашка» и отдельные условия использования его сервисов;
			li договоры, заключаемые между Школьной Домашкой и Вами;
			li согласие на обработку персональных данных (в случаях, прямо не предусмотренных законодательством Российской Федерации, но соответствующих полномочиям Школьной Домашки).
		p Для обработки Ваших персональных данных Школьная Домашка использует базы данных, расположенные на территории Российской Федерации.
		p Фраза «оператор обрабатывает Ваши персональные данные» означает, что Оператор (Школьная Домашка), может совершать с Вашими персональными данными следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение.
		p Школьная Домашка хранит Ваши персональные данные на электронных носителях. Иногда для исполнения наших обязательств перед Вами, возникающих из требований законодательства или договора, мы можем извлекать их и хранить на материальных носителях.
		p Школьная Домашка следует надлежащим процедурам безопасности и принимает все необходимые меры, чтобы предотвратить несанкционированный доступ к персональным данным и их неправомерное использование.
		p Мы применяем соответствующие корпоративные системы и процедуры с целью защиты и охраны предоставленных Вами персональных данных. Только обладающие особыми правами сотрудники имеют право доступа к персональным данным в процессе выполнения своих обязанностей.
		p Срок хранения обусловлен нашей обязанностью обеспечить Вам возможность пользоваться нашими услугам, необходимостью разрешения споров, которые могут возникнуть в связи с оказанием услуг, а также иными целями, позволяющими нам вести уставную деятельность, включая обнаружение и предотвращение мошеннических или иных незаконных действий. Кроме того, срок хранения данных зависит от требований законодательства Российской Федерации об образовании и архивном деле.
		p Мы в любом случае прекращаем обработку Ваших персональных данных при наступлении любого из следующих событий:
		ul
			li Вы самостоятельно удалили свои персональные данные в разделе «Персональная информация» (страница «Настройки») путем нажатия кнопки «Удалить аккаунт». Данный способ удаления персональных данных доступен только зарегистрированным на Сайте не более 1 месяца пользователям категории «Ученик», у которых отсутствуют какие-либо покупки в Школьной Домашке;
			li Вы отозвали данное нам согласие на обработку персональных данных или направили нам требование об их уничтожении;
			li истек срок хранения персональных данных;
			li достигнуты цели обработки персональных данных.
		p Вы всегда можете самостоятельно уточнить Ваши персональные данные в разделах «Персональная информация» и «Платежная информация» (страница «Настройки») либо обратиться к нам с такой просьбой по каналам, указанным в разделе «Обращения пользователей» Политики.

	section
		h2 Передача данных третьим лицам
		p Главная цель обработки персональных данных Школьной Домашки — обеспечить исполнение наших обязательств перед Вами. Иногда для этого необходимо привлечение третьих лиц. Объем передаваемых данных определяется условиями договоров, например, о сетевой форме реализации образовательных программ.
		p Но есть и другие цели передачи Ваших данных (фамилия, имя, отчество; номер телефона; адрес электронной почты) третьим лицам:
		ul
			li повышение оперативности рассылки Вам сообщений информационного и рекламного характера (при условии, что Вы согласились на рассылку Вам таких сообщений);
			li своевременное информирование Вас о новых возможностях в сфере образования и развития;
		p Если в какой-то момент Вы понимаете, что наши сообщения стали для Вас неактуальны или неинтересны, Вы легко можете отказаться от их получения, пройдя по ссылке «Отписаться от рассылки», которая есть в каждом информационном письме от Школьной Домашки.
		p Мы тщательно выбираем партнеров-третьих лиц, которым можем доверить Ваши персональные данные (исключительно в рамках, предусмотренных настоящей Политикой).
		p Поэтому в договорах с третьими лицами — партнерами мы прописываем обязательства партнеров, направленные на соблюдение Ваших интересов при обработке персональных данных. Так, третьи лица — партнеры гарантируют:
		ul
			li что обработка персональных данных на их стороне осуществляется с использованием баз данных на территории Российской Федерации;
			li конфиденциальность персональных данных при их обработке и использовании;
			li соблюдение следующих мер по обеспечению безопасности персональных данных при их обработке: использование средств защиты информации; обнаружение и фиксация фактов несанкционированного доступа к персональным данным и принятие мер по восстановлению персональных данных; ограничение доступа к персональным данным; регистрация и учет действий с персональными данными; контроль и оценка эффективности применяемых мер по обеспечению безопасности персональных данных;
			li что третьи лица не имеют права на передачу и распространение Ваших персональных данных другим лицам.

	section
		h2 Как Ваши данные могут стать доступны для всех
		p Перед тем, как опубликовать Ваш отзыв или рассказать всем о Ваших достижениях, или иным способом сделать Ваши персональные данные доступными для неограниченного круга лиц, мы обязательно попросим Вас подтвердить свое согласие на такое распространение, подробно и понятно объяснив, какие данные, для каких целей и каким способом мы собираемся использовать. На этом же этапе Вы сможете установить запреты Оператору на передачу (кроме предоставления доступа) и/или на обработку или условия обработки (кроме получения доступа) персональных данных, разрешенных Пользователем для распространения неограниченному кругу лиц.
		p В некоторых случаях мы распространяем Ваши персональные данные путем размещения их на нашем Сайте и наших официальных сообществах в социальных сетях.
		p Например, при публикации отзывов о Вашем опыте обучения в Школьной Домашке или отображении Вашего профиля и достижений на Сайте. Для названных целей Школьная Домашка может обрабатывать следующий объем Ваших персональных данных:
		dl
			dt Размещение отзывов
			dd
				ul
					li фамилия и имя;
					li должность и место работы;
					li аккаунты в социальных сетях;
					li изображение
			dt Отображение профиля и достижений
			dd
				ul
					li фамилия и имя;
					li класс;
					li изображение если указано в разделе «Персональная информация»;
					li информация о достижениях Пользователя, указанных на странице «Мои достижения»
			dt Размещение фото и видеоматериалов, полученных в ходе оказания услуг Оператором
			dd
				ul
					li фамилия и имя
					li изображение;
					li данные аккаунтов в социальных сетях;
					li иные данные, содержащиеся фото и видеоматериалах, полученных в ходе оказания услуг Оператором.
		p Мы делаем это исключительно на основании Вашего согласия на обработку персональных данных, разрешенных Вами для распространения.
		p Согласие с настоящей Политикой не включает в себя согласие на распространение персональных данных. Оно оформляется отдельно от согласия с настоящей Политикой.
		p Без Вашего отдельного информированного и осознанного согласия никакие Ваши персональные данные распространены не будут.
		p Форма согласия на распространение Ваших персональных данных зависит от цели их распространения.

	section
		h2 Обращения пользователей
		p Школьная Домашка всегда открыта для любых Ваших обращений.
		p Если у Вас есть вопрос, требование или запрос относительно Ваших персональных данных, например, Вы хотите отозвать согласие на их обработку, или по любому иному вопросу, самый простой способ — написать на #[a(href='mailto:claim@domashka.school') claim@domashka.school].
		p Чтобы мы сразу Вас узнали, письмо должно быть отправлено с адреса электронной почты, указанного Вами при регистрации на Сайте или в договоре в качестве уполномоченного адреса электронной почты.
		p Если по каким-либо причинам Вам неудобно использовать электронную почту, направьте Ваше письменное обращение по адресу: Россия, РТ, г. Казань, ул. Дубравная, 29-91.
		p Обратиться к нам устно можно по телефону #[a(href='tel:89372841308') 8 (937) 284-13-08].
		p Мы оперативно рассмотрим Ваше обращение и направим ответ в любом случае не позднее 30 (тридцати) календарных дней с даты получения обращения.
		p При получении от пользователя сообщения о неправомерной обработке его персональных данных, мы заблокируем такую информацию в момент получения сообщения и до выяснения всех обстоятельств обработки.
		p Мы отпишем Вас от рассылки в день получения от Вас такого требования.
		p На требование об актуализации и/или прекращении обработки персональных данных ответим не позднее 7 (семи) рабочих дней с даты получения обращения.
		p В течение 2 (двух) рабочих дней с даты получения обращения с требованием заблокировать неточные персональные данные мы проведем проверку (на период проверки данные блокируются) и запросим у Вас точные сведения. Изменения будут внесены в течение 7 (семи) рабочих дней с момента предоставления вами таких сведений.
		p После получения отзыва Вашего согласия на обработку персональных данных, мы прекратим обработку и уничтожим обрабатываемые персональные данные в течение 30 (тридцати) дней с даты получения обращения.

	section
		h2 Изменение политики
		p Школьная Домашка вправе в любой момент вносить изменения в настоящую Политику. Как правило, все эти изменения связаны с приведением Политики в соответствии с изменением Закона и направлены на обеспечение еще большей защиты прав субъектов персональных данных.
		p Мы обязуемся не вносить существенных изменений, не налагать дополнительных обременений или ограничений Ваших прав, установленных настоящей Политикой без Вашего уведомления.
		p Школьная Домашка уведомит Вас, когда в Политике произойдут изменения, и попросит ознакомиться с новой версией. Продолжая пользоваться нашим сервисом, Вы подтверждаете согласие с обновленной Политикой.