extends ../../pug/layout_doc.pug

block meta
	title Пользовательское соглашение сайта «Школьная домашка» и его сервисов

block content
	h1 Пользовательское соглашение сайта «Школьная домашка» и его сервисов
	section
		h2#1 1. Общие положения
		p#1-1 #[strong 1.1.] Общество с ограниченной ответственностью «Эвотека» (далее — Администратор) предлагает пользователю сети Интернет (далее — Пользователь) использовать сервисы, доступные на сайте #[a(href='https://domashka.school' target='_blank') domashka.school] (далее — Сайт) на условиях, изложенных в настоящем пользовательском соглашении (далее — Соглашение), а также условиях использования отдельных сервисов Сайта.
		p#1-2 #[strong 1.2.] Предметом Соглашения является использование всех существующих на данный момент сервисов Администратора и других компаний, условия использования которых ссылаются на данное Соглашение, а также любое развитие и добавление новых сервисов.
		p#1-3 #[strong 1.3.] Пользователь принимает условия Соглашения в момент завершения регистрации на Сайте (#[a(href='#3-2') п. 3.2], #[a(href='#3-3') п. 3.3] Соглашения). Регистрация Пользователя осуществляется в соответствии #[a(href='#3') с разделом 3] Соглашения.
		p#1-4 #[strong 1.4.] В случае несогласия с условиями Соглашения полностью или в любой части Пользователь не должен регистрироваться на Сайте и обязан воздерживаться от использования любых сервисов.
		p#1-5 #[strong 1.5.] Актуальный текст Соглашения находится на странице по адресу: #[a(href='https://domashka.school/soglashenie') domashka.school/soglashenie]. Администратор вправе в любое время изменять условия Соглашения. Новая редакция Соглашения действует с момента размещения в сети Интернет. Если после вступления в силу новой редакции Соглашения Пользователь продолжает использовать Сайт и любые его сервисы, считается, что Пользователь согласился с условиями новой редакции Соглашения. При несогласии с условиями новой редакции Соглашения Пользователь обязуется прекратить использование Сайта.

	section
		h2#2 2. Термины и определения
		p Если из текста прямо не вытекает иное, термины, используемые в настоящем Соглашении и условиях использования отдельных сервисов, имеют следующие значения:
		dl
			dt Сайт
			dd Совокупность информации, текстов, графических элементов, дизайна, изображений, фото-, видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу #[a(href='https://domashka.school') domashka.school].
			dt Сервис Сайта
			dd Функциональные возможности и инструменты Сайта, обеспечивающие предоставление Пользователям доступа к услугам.
			dt Онлайн-платформа
			dd Программное обеспечение, представляющее собой набор взаимосвязанных веб-сервисов и модулей, составляющих единое пространство предоставления услуг потребителям в сети Интернет. Онлайн-платформа доступна на Сайте.
			dt Личный кабинет
			dd Совокупность защищенных страниц Сайта, созданных в результате регистрации Пользователя и доступных при вводе его аутентификационных данных (адреса электронной почты и пароля) в предусмотренные для этого поля на Сайте.
				br
				| Конкретный набор страниц, технические возможности и порядок их использования могут отличаться для различных категорий Пользователей: Школьника, Родителя, Учителя.
			dt Школьник
			dd Пользователь, зарегистрированный на Сайте и получивший доступ к Личному кабинету Школьника. Если Пользователь не является полностью дееспособным, регистрация осуществляется его законным представителем. Все действия, осуществляемые Школьником на Сайте, совершаются с согласия законного представителя. Если Пользователь является полностью дееспособным, регистрация и все действия, совершаемые на Сайте, осуществляются Школьником самостоятельно.
			dt Родитель
			dd Пользователь, зарегистрированный на Сайте и получивший доступ к Личному кабинету Родителя. Пользователь может являться законным представителем Школьника, зарегистрированного на Сайте.
			dt Учитель
			dd Пользователь, зарегистрированный на Сайте и получивший доступ к Личному кабинету Учителя. Пользователь может являться педагогическим работником, осуществляющим свою деятельность в соответствии с Федеральном законом от 29.12.2012 № 273-ФЗ «Об образовании в Российской Федерации».

	section
		h2#3 3. Регистрация на сайте
		p#3-1 #[strong 3.1.] Для регистрации на Сайте и создания Личного кабинета Пользователь предоставляет информацию о себе одним из следующих способов:
		p#3-1-1 #[strong 3.1.1.] Заполняет регистрационную форму или на любой другой странице Сайта.
		p#3-1-2 #[strong 3.1.2] Дает согласие на использование информации из своих аккаунтов социальных сетей.
		p#3-2 #[strong 3.2.] При регистрации на Сайте путем заполнения регистрационной формы Пользователь:
		p#3-2-1 #[strong 3.2.1.] Выбирает категорию Пользователя — Школьник, Учитель, Родитель.
		p#3-2-2 #[strong 3.2.2.] Указывает в форме для регистрации фамилию, имя, номер телефона. Дополнительно в форме для регистрации Администратором может быть запрошен адрес электронной почты.
			br
			| Заполняя форму, Пользователь гарантирует, что предоставляемая информация:
		ol
			li принадлежит соответствующему Пользователю. В Личном кабинете Школьника также может быть указана информация законного представителя;
			li является достоверной и актуальной в течение всего срока использования Сайта. Администратор не несет ответственность за невозможность использования Сайта, ошибки в выдаваемых документах и иные последствия, возникающие в результате невыполнения Пользователем обязательства по предоставлению достоверной и актуальной информации.
			li является уникальной и ранее не использовалась для регистрации на Сайте.
		p#3-2-3 #[strong 3.2.3.] Проставляет символ в графе «Принимаю условия соглашения и политики конфиденциальности».
		p#3-2-4 #[strong 3.2.4.] Нажимает кнопку «Зарегистрироваться».
		p#3-2-5 #[strong 3.2.5.] В случае, если в форме для регистрации был запрошен адрес электронной почты, для завершения регистрации Пользователю необходимо осуществить переход по ссылке, содержащейся в сообщении, направленном с домена @domashka.school на указанный Пользователем адрес электронной почты.
			br
			| После совершения действий, указанных в #[a(href='#3-2') п. 3.2], регистрация считается завершенной.
		p#3-3 #[strong 3.3.] При регистрации с использованием информации аккаунтов социальных сетей (#[a(href='#3-1-2') п. 3.1.2]) Пользователь выбирает социальную сеть, аккаунт которой будет использоваться для создания Личного кабинета на Сайте. Пользователь не вправе использовать для регистрации аутентификационные данные аккаунтов третьих лиц. После выбора Пользователем социальной сети, аккаунт которой будет использоваться для создания Личного кабинета, регистрация считается завершенной.

	section
		h2#4 4. Условия использования личного кабинета
		p#4-1 #[strong 4.1.] Пользователю предоставляется доступ к Личному кабинету после ввода аутентификационных данных — адреса электронной почты и пароля, указанного в сообщении (#[a(href='#3-2-5') п. 3.2.5 Соглашения]), либо выбора аккаунта социальной сети, которая будет использоваться для доступа к Личному кабинету.
		p#4-2 #[strong 4.2.] Пользователь может добавлять следующую информацию с использованием раздела «Персональная информация» Личного кабинета:
		ul
			li фамилия и имя. Пользователь осознает и соглашается с тем, что Администратор вправе проводить опубликование и дальнейшее использование указанного Пользователем имени в комментариях и отзывах в Сервисах; в корпоративных блогах и медиа Администратора, а также на сторонних ресурсах. Если пользователь не настроил указанную информацию, Администратором будут использоваться имя и фамилия, указанные Пользователем в форме регистрации или аккаунте социальной сети (в зависимости от того, каким способом осуществлялась регистрация);
			li дата рождения и класс (для Пользователей, зарегистрированных в качестве Школьника);
			li адрес электронной почты;
			li номер телефона;
			li изображение для учетной записи (аватар). Изображение учетной записи может сопровождать сообщения, отправляемые Пользователем в чатах, а также иные действия. В случае использования в качестве изображения учетной записи изображения Пользователя, Пользователь осознает и соглашается с тем, что Администратор вправе проводить опубликование и дальнейшее использование изображения Пользователя для использования в Сервисах Администратора; размещения изображения к отзывам; в корпоративных блогах и медиа Администратора, а также на сторонних ресурсах;
			li ссылки на аккаунты в социальных сетях;
			li образовательное учреждение;
			li домашний адрес.
		p Пользователь вправе в любое время вносить изменения в указанную персональную информацию.
		p Обработка персональных данных Пользователей Сайта осуществляется в соответствии с Политикой обработки персональных данных: #[a(href='https://domashka.school/legal/policy') domashka.school/legal/policy].
		p#4-3 #[strong 4.3.] Пользователь может в любое время вносить изменять пароль с использованием раздела «Смена пароля» Личного кабинета.
		p#4-4 #[strong 4.4.] Пользователь может изменять типы сообщений, направляемых Администратором, с использованием раздела «Настройка рассылок» Личного кабинета.
		p#4-5 #[strong 4.5.] Пользователь может самостоятельно добавлять платежную информацию для приобретения доступа к Сервисам с использованием раздела «Платежная информация» Личного кабинета. При добавлении платежной информации списание денежных средств осуществляется в соответствии с условиями Сервисов, к которым приобретается доступ. Для подтверждения платежной информации со счета Пользователя списывается авторизационный платеж в размере 1 рубля (либо в сумме, эквивалентной 1 рублю в валюте, указанной на странице Сервиса). Указанный платеж возвращается в течение 24 часов с момента списания.
		p#4-6 #[strong 4.6.] После осуществления Пользователем входа в учетную запись, данные учетной записи могут быть автоматически сохранены в браузере устройства до завершения Пользователем работы под своей учетной записью и не требовать дополнительного ввода средств доступа к учетной записи при каждом использовании Сервисов Администратора. Автоматически сохраненные в браузере устройства данные учетной записи Пользователя могут быть использованы для доступа к Сервисам Администратора.
		p#4-7 #[strong 4.7.] Пользователь самостоятельно обеспечивает безопасность и сохранность аутентификационных данных, устройств и аккаунтов социальных сетей, адресов электронных почт, которые используются для доступа к Личному кабинету.
		p#4-7-1 #[strong 4.7.1.] После завершения каждой сессии использования Сайта Пользователь осуществляет выход из Личного кабинета (кнопка «Выйти»).
		p#4-7-2 #[strong 4.7.2.] Пользователь не вправе предоставлять свои аутентификационные данные любым третьим лицам без письменного согласия Администратора. В случае выявления факта использования идентичных аутентификационных данных разными лицами Администратор оставляет за собой право прекратить доступ к Сайту и его Сервисам Пользователю, чьими аутентификационными данными воспользовалось третье лицо, а также применить иные меры, предусмотренные настоящим Соглашением или условиями Сервиса.
		p#4-7-3 #[strong 4.7.3.] В случае получения третьими лицами доступа к Личному кабинету Пользователь обязан незамедлительно сообщить об этом Администратору на адрес электронной почты #[a(href='mailto:ask@domashka.school') ask@domashka.school]. До момента поступления такого сообщения все действия, совершенные с использованием Личного кабинета Пользователя, будут считаться совершенными самим Пользователем.

	section
		h2#5 5. Функционал сайта, доступный отдельным категориям пользователей
		p Пользователям доступен следующий функционал Сайта:
		p#5-1 #[strong 5.1.] Школьнику:
		ul
			li Сервис «Онлайн домашка»;
			li Сервис «Репетиторы»;
			li Сервис «Бесплатные занятия»;
			li Обучение по дополнительным образовательным программам (осуществляется в соответствии с условиями, указанными в договоре об образовании).
		p Школьник имеет возможность получать информацию о результатах использования им Сервисов Сайта (результаты прохождения курсов; результаты участия в конкурсе и т. д.)
		p#5-2 #[strong 5.2.] Учителю:
		ul
			li Обучение по дополнительным образовательным программам (осуществляется в соответствии с условиями, указанными в договоре об образовании).
		p Учитель имеет возможность получать информацию о результатах самостоятельного использования Сервисов Сайта. Одновременно с этим Учитель имеет возможность получать информацию об использовании Сайта следующими категориями Школьников:
		ol(type='a')
			li обучающимися в образовательном учреждении, совпадающим с образовательным учреждением, выбранным Учителем в Личном кабинете;
			li добавленными на страницу «Мои ученики». Для добавления Школьника Учитель нажимает кнопку «Пригласить Ученика» и указывает в соответствующем поле электронный адрес Школьника либо копирует предложенную ссылку и передает ее Школьнику любым доступным способом. После принятия приглашения Школьником информация о его успеваемости становится доступной Учителю.
		p#5-3 #[strong 5.3.] Родителю:
		ul
			li Сервис «Бесплатные занятия».

	section
		h2#6 6. Общие условия использования сервисов сайта
		p#6-1 #[strong 6.1.] Пользователь использует Сервисы Сайта на свой риск. Сервисы предоставляются «как есть». Администратор не гарантирует, что Сайт соответствует целям и требованиям Пользователя, что доступ к Сайту будет предоставляться непрерывно, быстро, надежно и без ошибок.
		p#6-2 #[strong 6.2.] Использование отдельных Сервисов Сайта может быть доступно только для определенных категорий Пользователей (#[a(href='#4') раздел 4 Соглашения]). Указанная информация размещается на Сайте.
		p#6-3 #[strong 6.3.] Для использования Сайта должны быть соблюдены следующие технические требования:
		p.block
			strong Для компьютеров под управлением операционных систем Windows:
			br
			| Процессор 2,4 ГГц Intel® Pentium®, Celeron®, Core2 Duo или более производительный (или аналогичный) для Microsoft® Windows® 7, 8, 8.1, 10 (32/64-разрядные версии).
			br
			| 2,0 Гб ОЗУ, не менее 10 Гб свободного места на системном диске.
			br
			| Браузер: Google Chrome версии 58.0 или выше, Microsoft Internet Explorer 11 или выше; Mozilla Firefox 56 или выше.
			br
			| Порты 1935, 443 и 80 должны быть открыты.
			br
			| Скорость интернет-соединения не менее 1024 Кбит/с
		p.block
			strong Для компьютеров под управлением операционной системы macOS:
			br
			| Процессор Intel CoreTM Duo 1,83 ГГц или более производительный.
			br
			| ОС Mac OS X v10.4, 10.5, 10.6 (Intel) или выше.
			br
			| ОЗУ 1 ГБ (рекомендуется 2 ГБ).
			br
			| Браузер: Apple Safari 10 или выше; Mozilla Firefox 9 или выше; Google Chrome 58 или выше.
		p#6-4 #[strong 6.4.] Доступ к отдельным Сервисам Сайта может быть платным. В этом случае стоимость указывается на странице Сайта, содержащей описание соответствующего Сервиса. Определение стоимости использования Сервисов, а также порядок ее оплаты устанавливаются в соответствии с разделом 8 настоящего Соглашения.
		p#6-5 #[strong 6.5.] При использовании Сайта Пользователю запрещается:
		p#6-5-1 #[strong 6.5.1] Копировать и/или распространять какую-либо информацию, полученную на Сайте, кроме случаев, когда такая функция прямо предусмотрена на Сайте и закреплена в условиях использования соответствующего Сервиса Сайта;
		p#6-5-2 #[strong 6.5.2] Использовать информацию, полученную на Сайте, для осуществления коммерческой деятельности, извлечения прибыли либо для использования противоречащим закону способом;
		p#6-5-3 #[strong 6.5.3] Копировать или иным способом использовать программную часть Сайта, а также его дизайн;
		p#6-5-4 #[strong 6.5.4] Размещать на Сайте любые персональные данные третьих лиц без их согласия, в том числе домашние адреса, телефоны, паспортные данные, адреса электронной почты;
		p#6-5-5 #[strong 6.5.5] Размещать на Сайте коммерческую рекламу, коммерческие предложения, агитационную информацию и любую другую информацию кроме случаев, когда размещение такой информации согласовано с Администратором;
		p#6-5-6 #[strong 6.5.6] Изменять каким бы то ни было способом программную часть Сайта; совершать действия, направленные на изменение функционирования и работоспособности Сайта;
		p#6-5-7 #[strong 6.5.7] Употреблять бранные слова и выражения при использовании чата Сайта и интерактивного голосового общения; оскорблять и иным образом нарушать права и свободы других пользователей Сайта, третьих лиц, а также групп лиц.

		p#6-6 #[strong 6.6.] Сайт может содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Если из содержания страницы Сайта не следует иное, Администратор:
		p#6-6-1 #[strong 6.6.1.] Не проверяет сайты третьих лиц и их контент на соответствие тем или иным требованиям (достоверности, полноты, законности и т. п.).
		p#6-6-2 #[strong 6.6.2.] Не несет ответственности за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым Пользователь получает доступ с использованием Сайта, в том числе, за любые мнения или утверждения, выраженные на сайтах третьих лиц, рекламу, а также за доступность таких сайтов или контента и последствия их использования Пользователем.
		p#6-7 #[strong 6.7.] При использовании Сайта и его Сервисов Администратор вправе направлять Пользователю:
		p#6-7-1 #[strong 6.7.1.] Транзакционно-триггерные сообщения.
		p Такие сообщения:
		ul
			li подтверждают факт использования Пользователем Сервисов Сайта (регистрацию на Сайте, запись на Курс, запись на Открытое занятие и т. д.)
			li предоставляют Пользователю информацию, имеющую значение для эффективного использования Сервиса Сайта (уведомление о начале Курса, Занятия, Открытого занятия, Конкурса и т. д.)
		p Частота направления сообщений зависит от того, насколько активно Пользователь использует Сервисы Сайта. Администратор направляет сообщения указанной категории в течение всего времени, пока Пользователь совершает активные действия на Сайте с использованием Личного кабинета.
		p#6-7-2 #[strong 6.7.2.] Информационные, новостные и маркетинговые сообщения.
		p Такие сообщения:
		ul
			li информируют Пользователя о мероприятиях, проводимых Администратором или его партнерами;
			li информируют Пользователя о действующих скидках и акциях Администратора;
			li информируют Пользователя о существующих Сервисах Сайта.
		p В течение суток Администратор направляет Пользователю не более 1 сообщения указанной категории.
		p#6-8 #[strong 6.8.] Пользователь вправе в любое время отказаться от получения сообщений указанной категории. Для этого Пользователь может:
		ul
			li перейти по ссылке «Отписаться от рассылки», размещенной в нижней части сообщения;
			li самостоятельно изменить настройки в разделе «Настройка рассылок» в Личном кабинете;
			li обратиться в службу технической поддержки по электронному адресу: #[a(href='mailto:ask@domashka.school') ask@domashka.school].

	section
		h2#7 7. Интеллектуальная собственность
		p#7-1 #[strong 7.1.] Используя Сервисы Сайта, Пользователь признает и соглашается с тем, что все содержимое Сайта и структура содержимого Сайта являются защищаемыми результатами интеллектуальной деятельности, права на которые принадлежат Администратору.
		p#7-2 #[strong 7.2.] В результате использования Сервисов Сайта к Пользователю не переходят никакие права на любое содержимое Сайта, включая аудиовизуальные произведения, конспекты занятий, изображения, литературные произведения, учебные и методические материалы, товарные знаки.
		p#7-3 #[strong 7.3.] Пользователю запрещается копировать, модифицировать, изменять, удалять, дополнять, публиковать, передавать содержащиеся на Сайте результаты интеллектуальной деятельности; создавать производные работы, изготавливать или продавать продукты на их основе, воспроизводить, отображать или любым другим образом использовать такие права без прямого письменного разрешения Администратора.
		p#7-4 #[strong 7.4.] При цитировании материалов Сайта, включая контент, содержащийся в Занятиях и Курсах, Пользователь обязуется указывать ссылку на Сайт.

	section
		h2#8 8. Плата за использование сервисов
		p#8-1 #[strong 8.1.] Администратор вправе устанавливать плату за использование Сервисов Сайта. В этом случае стоимость использования Сервиса, а также порядок оплаты указываются в описании Сервиса на странице Сайта.
		p#8-2 #[strong 8.2.] Стоимость использования Сервисов Сайта зависит от объема услуг, оказываемых посредством Сервисов, и может определяться на основании тарифов. Информация об условиях тарифов указывается в описании Сервисов на странице Сайта.
		p#8-3 #[strong 8.3.] Стоимость использования Сервисов может изменяться по решению Администратора. Такое изменение не влияет на определение стоимости для Пользователей, осуществивших оплату в полном объеме по прежней цене. О соответствующем изменении Администратор уведомляет Пользователей путем указания новой стоимости использования Сервиса на соответствующей странице Сайта, а если использование Сервиса было выбрано, но не оплачено Пользователем, — в Личном кабинете.
		p#8-4 #[strong 8.4.] По выбору Пользователя оплата стоимости использования Сервиса может осуществляться:
		p#8-4-1 #[strong 8.4.1.] Единовременно в полном объеме.
		p#8-4-2 #[strong 8.4.2.] Частично, в том числе посредством активации промокода или подарочного сертификата, если возможность их использования предусмотрена условиями конкретного Сервиса Сайта. Использование промокодов и подарочных сертификатов осуществляется в соответствии с Общими правилами использования промокодов и подарочных сертификатов, доступных по адресу: #[a(href='https://domashka.school/promocode') domashka.school/promocode].
		p#8-4-3 #[strong 8.4.3.] Рекуррентными платежами, если условиями Сервиса предусмотрена оплата по подписке. В этом случае оплата осуществляется в порядке предоплаты. В целях оформления подписки и дальнейшей возможности оплаты подписки Пользователь привязывает свою банковскую карту в разделе «Платежная информация» Личного кабинета  (далее — Привязанная карта). Для целей настоящего Соглашения любая банковская карта, привязанная к Личному кабинету Пользователя (в том числе привязанная до оформления подписки либо после ее оформления), считается Привязанной картой. Администратор вправе списать сумму, составляющую стоимость подписки на Сервисах, с любой из Привязанных карт.
		p При указании данных Привязанной карты и дальнейшем использовании Привязанной карты Пользователь подтверждает и гарантирует указание им достоверной и полной информации о действительной банковской карте, выданной на его имя; соблюдение им правил международных платежных систем и требований банка-эмитента, выпустившего Привязанную карту, в том числе в отношении порядка проведения безналичных расчетов.
		p#8-5 #[strong 8.5.] Оплата услуг может быть осуществлена одним из следующих лиц:
		p#8-5-1 #[strong 8.4.1.] Полностью дееспособным Пользователем;
		p#8-5-2 #[strong 8.4.2.] Недееспособным либо частично дееспособным Пользователем с согласия законного представителя;
		p#8-5-3 #[strong 8.4.3.] Третьим лицом, на которое Пользователем возложено исполнение денежного обязательства.
		p#8-6 #[strong 8.6.] Оплата услуг может осуществляться с привлечением провайдеров электронной системы платежей, указанных на странице оплаты.
		p#8-7 #[strong 8.7.] Обязательства по оплате считаются исполненными при положительном результате авторизации платежа провайдером электронной системы платежей.
		p#8-8 #[strong 8.8.] Администратор не контролирует аппаратно-программный комплекс систем платежей провайдеров и не несет ответственности за ошибки в таком аппаратно-техническом комплексе. Если в результате таких ошибок произошло списание денежных средств Пользователя, но платеж не был авторизован провайдером, обязанности по возврату денежных средств Пользователю лежат на провайдере электронной системы платежей.
		p#8-9 #[strong 8.9.] Пользователь самостоятельно несет ответственность за правильность производимых им платежей.

	section
		h2#9 9. Возврат денежных средств
		p#9-1 #[strong 9.1.] Полный или частичный возврат уплаченных Пользователем денежных средств производится в следующих случаях:
		p#9-1-1 #[strong 9.1.1.] При некачественном оказании услуг посредством Сервисов Сайта, если Пользователь предъявил претензию и такая претензия была удовлетворена Администратором;
		p#9-1-2 #[strong 9.1.2.] При осуществлении ошибочного платежа, если Пользователь направил уведомление об осуществлении ошибочного платежа и денежные средства поступили на расчетный счет Администратора;
		p#9-1-3 #[strong 9.1.3.] В иных случаях, предусмотренных Правилами возврата денежных средств (#[a(href='https://domashka.school/refund') domashka.school/refund]), условиями использования Сервисов Сайта, договорами об образовании и законодательством Российской Федерации.
		p#9-2 #[strong 9.2.] Для возврата денежных средств Пользователю необходимо направить Администратору уведомление об отказе от получения услуг. Уведомление должно быть письменным и содержать ФИО Пользователя, название Сервиса и требование о возврате денежных средств. Адрес для направления уведомления — #[a(href='mailto:ask@domashka.school') ask@domashka.school].
		p#9-3 #[strong 9.3.] Возврат денежных средств осуществляется в течение десяти рабочих дней тем же способом и по тем же реквизитам, по которым Пользователем была осуществлена оплата.
		p#9-4 #[strong 9.4.] Возврат наличными денежными средствами не допускается.

	section
		h2#10 10. Ответственность
		p#10-1 #[strong 10.1.] В случае нарушения Пользователем условий настоящего Соглашения, условий использования отдельных сервисов Сайта, законодательства Российской Федерации, норм морали и нравственности либо технических требований к использованию Сайта Администратор вправе:
		p#10-1-1 #[strong 10.1.1.] Заблокировать или удалить Личный кабинет Пользователя;
		p#10-1-2 #[strong 10.1.2.] Запретить либо ограничить доступ Пользователя к определенным или всем Сервисам Сайта и оказываемым с их помощью услугам;
		p#10-1-3 #[strong 10.1.3.] Ограничить Пользователю возможность использовать чат Сайта и интерактивное голосовое общение.
		p#10-1-4 #[strong 10.1.4.] Удержать стоимость оплаченного, но не использованного доступа к любому Сервису в качестве штрафа за нарушение условий использования Сайта.
		p#10-2 #[strong 10.2.] Условия ответственности, указанные в #[a(href='#10-1') п. 10.1], также могут быть применены Администратором в случае наличия угрозы нарушения условий Соглашения со стороны Пользователя.
		p#10-3 #[strong 10.3.] Программно-аппаратные ошибки, как на стороне Администратора, так и на стороне Пользователя, приведшие к невозможности получения Пользователем доступа к любым Сервисам Сайта, являются обстоятельствами непреодолимой силы и освобождают Администратора от ответственности за неисполнение обязательств.
		p#10-4 #[strong 10.4.] Администратор не несет ответственность за неисполнение или ненадлежащее исполнение обязательств, возникших в том числе в результате:
		p#10-4-1 #[strong 10.4.1.] Неправомерных действий третьих лиц, направленных на нарушения информационной безопасности или нормального функционирования Сайта, в частности, за несанкционированный доступ третьих лиц к Личному кабинету и устройствам Пользователя;
		p#10-4-2 #[strong 10.4.2.] Сбоев в работе Сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними вредоносными программами и действиями третьих лиц;
		p#10-4-3 #[strong 10.4.3.] Отсутствия интернет-соединения между сервером Пользователя и сервером Администратора;
		p#10-4-4 #[strong 10.4.4.] Выполнения Администратором профилактических работ на сайтах Сервиса.

	section
		h2#11 11. Порядок разрешения споров
		p#11-1 #[strong 11.1.] Все споры, разногласия и претензии, которые могут возникнуть в связи с исполнением, расторжением или признанием недействительным Соглашения, Стороны будут стремиться решить путем переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой Стороне сообщение с указанием возникших претензий и/или разногласий. Сообщение направляется на адрес электронной почты: Пользователю — на адрес электронной почты, указанный при регистрации; Администратору — на адрес #[a(href='mailto:complaint@domashka.school') complaint@domashka.school].
		p#11-2 #[strong 11.2.] В случае если ответ на сообщение не будет получен направившей сообщение Стороной в течение 10 (десяти) рабочих дней с даты направления соответствующего сообщения, либо если Стороны не придут к соглашению по возникшим претензиям и/или разногласиям, спор подлежит разрешению в судебном порядке.

	section
		h2#12 12. Изменение условий соглашения
		p#12-1 #[strong 12.1.] Администратор вправе в одностороннем порядке изменять условия Соглашения, при этом такие изменения вступают в силу с момента опубликования новой редакции Соглашения в соответствующем разделе Сайта. Уведомления об изменении Соглашения могут быть отображены на Сайте (например, в Личном кабинете, через всплывающее окно или баннер) или могут быть отправлены по электронной почте.
		p#12-2 #[strong 12.2.] При каждом последующем посещении Сайта до начала пользования Личным кабинетом Пользователь обязуется знакомиться с новой редакцией Соглашения.  Продолжение использования Сайта и Личного кабинета будет означать согласие Пользователя с условиями новой редакции Соглашения.
		p#12-3 #[strong 12.3.] При несогласии с условиями новой редакции Соглашения Пользователь обязуется прекратить использование Сайта.
		p#12-4 #[strong 12.4.] При наличии оплаченного, но не использованного доступа к платным Сервисам Сайта Пользователь, не согласный с новой редакцией Соглашения, обязан уведомить об этом Администратора, отправив сообщение на адрес электронной почты complaint@domashka.school. В этом случае Пользователь может продолжать использовать Личный кабинет только для доступа к соответствующим платным Сервисам. По завершении срока оплаченного доступа Пользователь обязан прекратить использование Сайта. Использование Личного кабинета для добавления комментариев, общения в чате, оплаты доступа к новым Сервисам Сайта означает принятие Пользователем условий новой редакции Соглашения.

	section
		h2#13 13. Заключительные положения
		p#13-1 #[strong 13.1.] Соглашение и все возникающие из него правоотношения регулируются законодательством Российской Федерации. Все возникающие споры разрешаются в соответствии с законодательством Российской Федерации.
		p#13-2 #[strong 13.2.] Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
		p#13-3 #[strong 13.3.] Бездействие со стороны Администратора в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администратора права предпринять позднее соответствующие действия в защиту своих интересов и защиту интеллектуальных прав на охраняемые в соответствии с законодательством материалы Сайта.

	section
		h2#14 14. Реквизиты администратора
		p Общество с ограниченной ответственностью «Эвотека»
		p Юридический адрес: РТ, г. Казань, ул. Серова д. 10, кв. 109
			br
			| ИНН/КПП: 1658201149/165801001
			br
			| ОГРН: 1171690072586
			br
			| Банк: ТОЧКА ПАО БАНКА «ФК ОТКРЫТИЕ»
			br
			| Р/с: 40702810007500002474
			br
			| К/с: 30101810845250000999
			br
			| БИК: 044525999
			br
			| Телефон: #[a(href='tel:89372841308') +7(937)284-13-08]
		p Доступ к отдельным сервисам Сайта может предоставляться аффилированными лицами Администратора. В этом случае реквизиты Администратора указываются в соответствующих условиях использования Сервиса.
