// В этом файле должны быть стили для БЭМ-блока characteristic, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.characteristic {
	background: linear-gradient(180deg, #f5f5f5 0%, #ffffff 100%);
	padding-bottom: 40px;
	padding-top: 88px;
	position: relative;
	@media (min-width: $screen-sm) {
		padding-bottom: 80px;
		padding-top: 144px;
	}
	@media (min-width: $screen-md) {
		padding-bottom: 126px;
		padding-top: 160px;
	}
	&__heading {
		margin: 0 0 24px 0;
		@media (min-width: $screen-sm) {
			margin-bottom: 56px;
		}
		@media (min-width: $screen-md) {
			text-align: center;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: -16px;
		justify-content: center;
		@media (min-width: $screen-nexus) {
			margin: -24px -16px;
		}
	}
	&__tile {
		width: 100%;
		margin: 16px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $screen-nexus) {
			align-items: center;
			margin: 24px 16px;
			text-align: center;
			width: calc(50% - 32px);
		}
		@media (min-width: $screen-md) {
			width: calc(33.3333% - 32px);
		}
		@media (min-width: $screen-lg) {
			width: calc(25% - 32px);
		}
	}
	&__img {
		width: auto;
		height: 170px;
		@media (min-width: $screen-nexus) {
			height: 190px;
		}
		@media (min-width: $screen-md) {
			height: 216px;
		}
	}
	&__descr {
		font-weight: 300;
		font-size: 20px;
		line-height: 120%;
		margin: 16px 0 0 0;
		@media (min-width: $screen-sm) {
			margin-top: 24px;
		}
	}
	&__info {
		font-weight: normal;
		font-size: 16px;
		line-height: 100%;
		margin: 4px 0 0 0;
		color: var(--color-dark-secondary);
	}
}
