// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	background: var(--color-white);
	padding: 40px 0;
	@media (min-width: $screen-sm) {
		padding: 44px 0 48px 0;
	}
	&__grid {
		display: grid;
		grid-gap: 32px;
		grid-template-areas:
			'logo'
			'social'
			'info';
		@media (min-width: $screen-nexus) {
			grid-gap: 24px;
			grid-template-areas:
				'logo social'
				'info info';
		}
		@media (min-width: $screen-sm) {
			grid-gap: 36px;
		}
		@media (min-width: $screen-md) {
			grid-template-asreas:
				'logo social'
				'info info';
		}
	}
	&__logo {
		align-items: center;
		align-self: center;
		display: flex;
		grid-area: logo;
		height: 24px;
		justify-content: center;
		justify-self: center;
		width: 211px;
		@media (min-width: $screen-sm) {
			align-self: center;
			justify-self: start;
		}
		@media (min-width: $screen-md) {
			height: 32px;
			width: 295px;
		}
		svg {
			height: 100%;
			width: 100%;
		}
	}
	&__social {
		align-items: center;
		align-self: center;
		background: var(--color-white-transparent);
		border-radius: 16px;
		display: flex;
		grid-area: social;
		justify-self: center;
		max-width: 195px;
		padding: 12px 16px;
		text-decoration: none;
		transition: transform .25s ease;
		@media (min-width: $screen-sm) {
			justify-self: start;
			align-self: center;
		}
		@media (min-width: $screen-sm) {
			justify-self: end;
		}
		&:hover {
			transform: translateY(-2px);
		}
	}
	&__social-icon {
		height: 24px;
		width: 24px;
		margin-right: 12px;
		flex-shrink: 0;
	}
	&__social-text {
		color: var(--color-dark-primary);
		font-size: 16px;
		font-weight: normal;
		line-height: 100%;
		margin: 0;
	}
	&__info {
		display: flex;
		flex-direction: column;
		grid-area: info;
		text-align: center;
		width: 100%;
		@media (min-width: $screen-nexus) {
			align-items: center;
		}
		@media (min-width: $screen-md) {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}
	}
	&__info-links {
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-nexus) {
			flex-direction: row;
		}
		@media (min-width: $screen-md) {
			order: 2;
		}
	}
	&__info-link {
		color: var(--color-green);
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		line-height: 100%;
		margin: 0;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		& + & {
			margin-top: 16px;
			@media (min-width: $screen-nexus) {
				margin-top: 0;
				margin-left: 32px;
			}
		}
	}
	&__info-copy {
		color: var(--color-dark-secondary);
		font-size: 16px;
		font-style: normal;
		font-weight: normal;
		line-height: 100%;
		margin: 16px 0 0 0;
		@media (min-width: $screen-nexus) {
			margin-top: 24px;
		}
		@media (min-width: $screen-md) {
			margin-top: 0;
		}
	}
}
