//- Стандартный шаблон страницы
block variables

- var isDeploy = true

if isDeploy === true
	- var pageAddress = '/domashka'
else
	- var pageAddress = ''

include mixins.pug

doctype html
html(class='no-js', lang='ru-RU')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=0.1, shrink-to-fit=no')
		meta(name='google', content='notranslate')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(name='HandheldFriendly' content='true')
		meta(name='robots', content='index, follow')

		link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='img/favicon/favicon-32x32.png', sizes='32x32')
		link(rel='icon' type='image/png', href='img/favicon/favicon-16x16.png', sizes='16x16')
		link(rel='manifest' href='img/favicon/site.webmanifest')
		link(rel='mask-icon' href='img/favicon/safari-pinned-tab.svg' color='#5bbad5')
		meta(name='msapplication-TileColor' content='#00a300')
		meta(name='theme-color' content='#ffffff')

		block meta
			title Школьная Домашка
			meta(name='description', content='')
			meta(name='keywords', content='')

		block head
			link(rel='stylesheet', href='css/style.css')
			link(rel="preconnect", href="https://fonts.googleapis.com")
			link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
			link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Commissioner:wght@300;400;700&display=swap")
	body
		noscript У вас отключен JavaScript. Это пугает.
		
		.page
			.page__nav
				include ../pug/layout_parts_nav.pug
			.page__header
				include ../pug/layout_parts_header.pug
			.page__main
				block content
			.page__footer
				include ../pug/layout_parts_footer.pug
			.page__darker

		include ../pug/layout_parts_modal.pug
					
		script(src='js/main.js')
		block scripts
