footer.footer
	.footer__inner
		.grid
			.grid__row
				.grid__col.grid__col_xs-12.grid__col_md-12
					.footer__grid
						.footer__logo
							svg
								use(xlink:href='img/svgSprite.svg#domashka__logo')
						a.footer__social(href='https://instagram.com/domashka.school' target='_blank')
							svg.footer__social-icon
								use(xlink:href='img/svgSprite.svg#icon__socials_ig')
							p.footer__social-text Подписывайтесь на instagram
						.footer__info
							.footer__info-links
								a.footer__info-link(href='soglashenie' target='_blank') Пользовательское соглашение
								a.footer__info-link(href='legal/policy' target='_blank') Политика конфиденциальности
							p.footer__info-copy 2021 © ООО «Эвотека»
								br
								| ИНН 1658201149