//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/advantages/advantages.pug
include ../blocks/characteristic/characteristic.pug
include ../blocks/form-block/form-block.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/modal/modal.pug
include ../blocks/step/step.pug
