// В этом файле должны быть стили для БЭМ-блока page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	height: 100%;
	min-height: 100%;
	&__nav {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 0;
		z-index: 99;
	}
	&__header {
		backdrop-filter: blur(5px);
		flex: 0 0 auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 97;
	}
	&__main {
		flex: 1 1 auto;
		padding-top: 64px;
		@media (min-width: $screen-sm) {
			padding-top: 144px;
		}
	}
	&__footer {
		flex: 0 0 auto;
	}
	&__darker {
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 98;
		@media (min-width: $screen-sm) {
			display: none;
		}
		.open-nav & {
			pointer-events: auto;
		}
	}
	
	&__doc {
		padding: 48px 0;
		h1 {
			font-size: 32px;
			line-height: 115%;
			margin: 0 0 32px;
		}
		h2 {
			font-size: 24px;
			line-height: 115%;
			margin: 0 0 20px;
		}
		p {
			font-size: 16px;
			line-height: 1.5;
			&.alert {
				background: rgba(red, .1);
				border-radius: 4px;
				margin-top: 24px;
				padding: 16px 24px;
			}
			&.block {
				background: rgba(black, .05);
				border-radius: 4px;
				margin-top: 24px;
				padding: 16px 24px;
			}
			&.block + &.block {
				margin-top: 8px !important;
			}
		}
		p + p {
			margin-top: 16px;
		}
		ol {
			margin: 8px 0 16px;
			li {
				font-size: 16px;
				line-height: 1.75;
			}
			li + li {
				margin-top: 12px;
			}
		}
		ul {
			margin: 8px 0 16px;
			li {
				font-size: 16px;
				line-height: 1.75;
				list-style: none;
				padding: 0 0 0 32px;
				position: relative;
				&::before {
					background: #4b4d52;
					border-radius: 50%;
					content: '';
					height: 6px;
					left: 12px;
					position: absolute;
					top: 12px;
					width: 6px;
				}
			}
			li + li {
				margin-top: 8px;
			}
		}
		dl {}
		dl + p {
			margin-top: 16px;
		}
		dt {
			font-size: 16px;
			font-weight: 700;
			line-height: 1.5;
		}
		dd {
			font-size: 16px;
			font-style: italic;
			line-height: 1.5;
			margin: 0 0 0 32px;
		}
		dd + dt {
			margin-top: 16px;
		}
		a {
			color: var(--color-blue);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		section {
			margin-top: 40px;
		}
	}
}
