// В этом файле должны быть стили для БЭМ-блока page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	height: 100%;
	min-height: 100%;
	//overflow-x: hidden;
	&__nav {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 0;
		z-index: 99;
	}
	&__header {
		backdrop-filter: blur(5px);
		flex: 0 0 auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 97;
	}
	&__main {
		flex: 1 1 auto;
		padding-top: 64px;
		@media (min-width: $screen-sm) {
			padding-top: 144px;
		}
	}
	&__footer {
		flex: 0 0 auto;
	}
	&__darker {
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 98;
		@media (min-width: $screen-sm) {
			display: none;
		}
		.open-nav & {
			pointer-events: auto;
		}
	}
}
